.form-container {
  border: 5px;
  border-color: cadetblue;
  width: auto !important;
  height: auto !important;
  margin: 20px auto;
  border-radius: 5px;
  background-color: beige;
  padding: 20px;
  max-width: 50%;
}
.inputs {
  margin-top: 10px;
}
